<h1>Developer Lorem Ipsum</h1>
<p>
  <a href="/">Refresh the page for new ipsum</a>
</p>
<%= content %>
<p>
  <a href="http://twitter.com/share" class="twitter-share-button" data-text="Developer Lorem Ipsum: http://bit.ly/p8CCRL" data-count="vertical" data-via="AndrewVos">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</p>
