<h1>Developer Lorem Ipsum</h1>
<p>
  <a href="/">Refresh the page for new ipsum</a>
</p>
<%= content %>
<a href="http://twitter.com/home?status=Developer Lorem Ipsum: http://bit.ly/p8CCRL">Share this on Twitter</a>
<p>
  <a href="http://twitter.com/AndrewVos" class="twitter-follow-button" data-show-count="false">Follow @AndrewVos</a>
  <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
</p>
